#u2182-4,#u2189-4,#u2190-4,#u2191-4,#u2380-4,#u2141-4,#u3047,#u2140-4,#u3117,#u2568-4
{
	font-family: arimo-n4, sans-serif;
}

#u2473-4
{
	font-family: arimo-n4, sans-serif;
}

#u2163-4,#u3116-4,#u3120-4,#u3124-4
{
	font-family: arimo-n7, sans-serif;
}

#u3121,#u3125
{
	font-family: arimo-n4, sans-serif;
}

#u3221-19
{
	font-family: arimo-n4, sans-serif;
}

